.about-container-home {
    nav {
        background-color: #fff;

        .logo {
            display: flex;
            justify-content: center;  
        }
    }
    .about-drawing {
        margin-top: 1.5px;
        padding: 5px;
        border-top: 1px solid #ff6f1a;
        width: 100%;
    }
    main {
        background-color: #fff;

        h1 {
            text-align: center;
            font-family: @about-font;
            font-size: 10rem;
        }
        
        p{
            text-align: center;
            margin-top: 20px;
        }
    }
    .about-content-wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        background-color: #fff;
        // margin: 0 auto;
    }
    .about-content {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: center;

        

        img {
            width: 250px;
            height: 250px;
            object-fit: cover;
            border-radius: 5px;
            margin: 30px 30px 0px 30px;
            // padding: 5px;
        }


            h2 {
                font-family: @about-font;
                color: #000;
                text-decoration: none;
                font-size: 3.5rem;
                
            }

            h3 {
                text-align: center;
                max-width: 80%;
                font-size: 2rem;
                font-weight: bold;
                // padding: 2px;
            }

            p {
                text-align: center;
                max-width: 80%;
                font-style: italic;
            }
    }
}