footer {
    margin: 100px 0;
    background-color: #ff6f1a;
    text-align: center;
    

    p {
        color: #fff;
    }

    img {
        width: 5%;
        margin-top: 2rem;
    }

    .footer-list {
        font-size: 1.5rem;
        color: #fff;

        li {
            display: inline-block;
            padding: 15px;
            color: #fff;
            
        }

        a{
            color: #fff;
            text-decoration: none;
            
        }

        
    }
}