footer {
    margin: 30px 0;
    background-color: #ff6f1a;
    text-align: center;
    

    p {
        color: #fff;
    }

    img {
        width: 5%;
        margin-top: 2rem;
        @media @mobile {
            width: 10%;
        }
    }

    .footer-list {
        font-size: 1.5rem;
        color: #fff;
        display: flex;
        justify-content: center;
        flex-flow: row wrap;
        padding: 20px;
        @media @mobile {
            flex-flow: row wrap;  
            margin-left: 20px;
        }

        li {
            color: #fff;
            @media @mobile {
                padding: 10px 0; 
                &:last-child {
                    list-style-type: none;
                }
            }
        }

        a{
            color: #fff;
            text-decoration: none;
            margin-right: 30px;
            @media @mobile {
                padding: 10px 0; 
                text-align: center;
            }
        }

        
    }
}