.home {
  main {
      background: linear-gradient(#d8d8d881, transparent 10%), linear-gradient(0deg, #d8d8d881, transparent), url("../../img/header.jpg");
      background-color: #cccccc; 
      height: 500px; 
      background-position: center; 
      background-repeat: no-repeat; 
      background-size: cover; 
      position: inherit;
      .hero {
        position: absolute;
        padding: 20px 40px;
        top: 364px;
        left: 225px;
        background-color: rgba(218,173,154,.6);
        text-align: center;
        h2 {
          color: whitesmoke;
          font-size: 1.7rem;
        }
        h3 {
          color: whitesmoke;
          font-size: 1.7rem;
          margin-bottom: 10px;
        }
      }
  }
  .btn {
    .custom-btn(@width: 100%;);
     text-decoration: none;
  }
}