header {
  margin: 10px 0;
  nav {
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      img{
        width: 5%;
      }
      a {
        text-decoration: none;
        color:@font-color;
        margin: 10px 0;
      }
      h1{
        font-size: 2rem;
      }
    }
    .navLinks {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        display: inline-block;
        text-decoration: none;
        margin: 10px;
        font-size: 1.6rem;
        color: @font-color;
      }
    }
  }
}
