header {
  margin: 10px 0;
  nav {
    display: flex;
    justify-content: space-between;
    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        width: 2%;
      }
      a {
        text-decoration: none;
        color: #ff2c26;
        margin: 10px 0;
      }
      h1{
        font-size: 1.8rem;
      }
    }
    .navLinks {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a {
        display: inline-block;
        text-decoration: none;
        margin: 10px;
        font-size: 1.8rem;
      }
    }
  }
}
