// Color assignments 
@font-color: @primary;
@button-bg:@primary;


// Colors
@primary: #e60800;
@white:whitesmoke;

// Media Queries 

@mobile: ~"(max-width: 500px)";

// Fonts
@about-font: 'Caveat Brush', cursive;
